PORT=3000
NODE_ENV=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=devops_app
POSTGRES_USER=devops_user
POSTGRES_PASSWORD=devops_pass

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL_SECONDS=60
